name: X-BachInfo

on:
  workflow_call:
    inputs:
      project-version:
        required: true
        type: string
      project-tag:
        required: true
        type: string
    secrets:
      gh-access-token:
        required: true

permissions:
  actions: read
  id-token: write
  contents: write

jobs:
  update-bach-info:
    name: Update bach-info
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: jreleaser/bach-info
          ref: main
          fetch-depth: 0
          token: ${{ secrets.gh-access-token }}

      - name: Download script
        shell: bash
        run: |
          curl -sL https://raw.githubusercontent.com/jreleaser/jreleaser/main/.github/scripts/update-bach-info.sh --output update-bach-info.sh
          chmod +x update-bach-info.sh

      - name: Commit
        shell: bash
        env:
          TAG: ${{ inputs.project-tag }}
          VERSION: ${{ inputs.project-version }}
          GH_BOT_EMAIL: ${{ vars.GH_BOT_EMAIL }}
        run: sh update-bach-info.sh