name: X-UpdateWiki

on:
  workflow_call:
    inputs:
      project-version:
        required: true
        type: string
      project-tag:
        required: true
        type: string
      template-params:
        required: false
        type: string
        default: ''
    secrets:
      gh-access-token:
        required: true

permissions:
  actions: read
  id-token: write
  contents: write

jobs:
  update-wiki:
    name: 'Update wiki for Release ${{ inputs.project-tag }}'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Checkout wiki
        uses: actions/checkout@v3
        with:
          repository: jreleaser/jreleaser.wiki
          path: wiki
          token: ${{ secrets.gh-access-token }}

      - name: Download checksums
        shell: bash
        run: |
          curl -sL https://github.com/jreleaser/jreleaser/releases/download/${{ inputs.project-tag }}/checksums_sha256.txt --output checksums_sha256.txt

      - name: Generate wiki page
        uses: jreleaser/release-action@v2
        with:
          version: early-access
          arguments: template eval --changelog --input-file src/jreleaser/templates/wiki-release-page.md.tpl --target-directory wiki/Releases ${{ inputs.template-params }}
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.gh-access-token }}
          JRELEASER_PROJECT_VERSION: ${{ inputs.project-version }}

      - name: Commit
        shell: bash
        env:
          TAG: ${{ inputs.project-tag }}
          VERSION: ${{ inputs.project-version }}
          GH_BOT_EMAIL: ${{ vars.GH_BOT_EMAIL }}
        run: sh .github/scripts/update-wiki.sh
