name: X-NativeImage

on:
  workflow_call:
    inputs:
      project-version:
        required: true
        type: string
    secrets:
      gh-access-token:
        required: true

permissions:
  contents: read

jobs:
  native-image:
    name: '${{ matrix.os }}'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-22.04-arm, macos-13, windows-latest, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: main

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: artifacts
          path: plugins

      - name: Setup Graal
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ vars.GRAAL_JAVA_VERSION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          distribution: graalvm

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ vars.JAVA_VERSION }}
          distribution: ${{ vars.JAVA_DISTRO }}
          cache: gradle

      - name: Version
        if: endsWith(${{ inputs.project-version }}, '-SNAPSHOT') != true
        run: |
          echo ${{ inputs.project-version }} > VERSION

      - name: Jdks
        shell: bash
        run: ./gradlew :jreleaser:copyJdksFromCache :jreleaser:setupJdks

      - name: NativeImage
        uses: jreleaser/release-action@v2
        with:
          version: early-access
          arguments: assemble --assembler native-image --select-current-platform
          setup-java: false
        env:
          JRELEASER_PROJECT_VERSION: ${{ inputs.project-version }}

      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jreleaser-native-image-${{ runner.os }}-${{ runner.arch }}
          path: |
            out/jreleaser/trace.log
            out/jreleaser/output.properties

      - name: Upload native-image
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: native-image-${{ runner.os }}-${{ runner.arch }}
          path: |
            out/jreleaser/assemble/jreleaser-native/native-image/*.zip

      - name: Stop Gradle daemon
        shell: bash
        run: ./gradlew -stop
